
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Products currently in the shop</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/mycss.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/review.js" type="text/javascript"></script>
	<!--    <script src="/js/billing.js" type="text/javascript"></script>-->
</head>
<body>  
	<h1 th:text="${product.name}"></h1>
	<img  th:src="@{'/uploads/'+${product.name +'.jpg'}}" >
	<p >Price: <label th:text="${product.price}"></label></p>
	<p >Description: <label th:text="${product.description}"></label></p>
	<p >follow: <label th:text="${product.description}"></label></p>
	<div th:switch="${followStatus}">
		<span th:case="'following'">following</span>
		<span th:case="'follow'"><button class="btn btn-info" th:id="${product.id}" onclick="followUser(this.id)"> follow</button></span>
	</div>



	<a th:href="@{/products}"> Go to products page</a>
</body>
</html>