
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<style>
		img {
			display: block;
			max-width:460px;
			max-height:230px;
			margin-top: 20px;
			width: auto;
			height: auto;
		}
	</style>
    <meta charset="UTF-8">
    <title>Product Detail</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<button class="btn btn-lg btn-primary btn-block" type="submit"><h2 th:text="${product.name}"></h2></button>
	<!--<h2 th:text="${product.name}"></h2>-->
	<img  th:src="@{'/uploads/'+${product.fileName +'.jpg'}}" >
	<span><p >Description: <label th:text="${product.description}"></label></p></span>
	<p >Price: <label th:text="${product.price}"></label></p>
	<p >Quantity: <label th:text="${product.quantity}"></label></p>


	<div th:switch="${followStatus}">
		<span th:case="'following'">following</span>
		<span th:case="'follow'"><button class="btn btn-info" th:id="${product.id}" onclick="followUser(this.id)"> follow</button></span>
	</div>
	<!--<a th:href="@{/product/products}"> Go to products page</a>-->
<div class=" text-center"><a th:href="@{/seller/products}"><h5>Go to products page</h5></a></div>
</body>
</html>