<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        Logged in user: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </div>
    <h1>Well to Habesha Clothing</h1>
    <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
    <ul>
<!--        <li>Go to the <a th:href="@{/admin/products/unapprovedProducts}">Admin pages</a></li>-->
        <li>Go to the <a th:href="@{/seller/products}">Seller pages</a></li>
        <li>Go to the <a th:href="@{/productsList}">Buyer pages</a></li>
        <li>Go to approve or reject<a th:href="@{/admin/products/unapprovedProducts}"> products</a></li>

    </ul>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>